
<script src="~/Scripts/Chart.min.js"></script>
<section id="home" class="content-section">
    <div class="section-content">
        <h2 style="text-decoration-color:yellow">THỐNG KÊ LƯU HỌC SINH NỢ MÔN </h2>
        <br />
        <canvas id="Thongkenomon" width="800" height="450"></canvas>

    </div>
</section>
<script>
    var ctx = document.getElementById("Thongkenomon");
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["2017", "2018", "2019","2020"],
            datasets: [{
                backgroundColor: '#00ff00',
                label: 'Xuất sắc',
                data: [12, 19, 3,10]
            }]
        }
    });

    function addData(chart, label, color, data) {
        chart.data.datasets.push({
            label: label,
            backgroundColor: color,
            data: data
        });
        chart.update();
    }

    // inserting the new dataset after 3 seconds
    setTimeout(function () {
        addData(barChart, 'Gioi', '#ff0000', [160, 14, 8, 10]);
        addData(barChart, 'Khá', '#ff0030', [160, 14, 8, 10]);
        addData(barChart, 'Trung bình', '#ff0600', [160, 14, 8, 10]);
    }, 1000);
</script>