@model IEnumerable<QLDHS.Models.Entity.DiaBanDaoTao>

@{ 
    ViewBag.Title = "Danh sách các địa bàn đào tạo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />


<script>
  $(document).ready(function() {

  // Cấu hình các nhãn phân trang
      var table = $('#diaban').dataTable({
          orderCellsTop: true,
          fixedHeader: true,
      "language": {
      "sProcessing":   "Đang xử lý...",
      "sLengthMenu":   "Xem _MENU_ mục",
      "sZeroRecords":  "Không tìm thấy dòng nào phù hợp",
      "sInfo":         "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
      "sInfoEmpty":    "Đang xem 0 đến 0 trong tổng số 0 mục",
      "sInfoFiltered": "(được lọc từ _MAX_ mục)",
      "sInfoPostFix":  "",
      "sSearch":       "Tìm:",
      "sUrl":          "",
      "oPaginate": {
          "sFirst":    "Đầu",
          "sPrevious": "Trước",
          "sNext":     "Tiếp",
          "sLast":     "Cuối"
          }
      },
      "processing": true, // tiền xử lý trước
      "aLengthMenu": [[10, 15, 20, 50], [10, 15, 20, 50]], // danh sách số trang trên 1 lần hiển thị bảng
      "order": [[ 0, 'asc' ]] //sắp xếp giảm dần theo cột thứ 1
  } );

    $("#alllhs").css("font-size", 16);
    table.columns.adjust().draw();

  });



</script>



<div class="section-heading">
    <h1>Danh sách<br /> địa bàn đào tạo</h1>
</div>
<div class="section-content">
    <table id="diaban" class="table table-bordered" style="width :100%">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã nước</th>
                <th scope="col">Tên nước</th>
                <th scope="col">Số lượng cơ sở đào tạo</th>
            </tr>
        </thead>
        <tbody>
            @{ var i = 0;}
            @foreach (var item in Model)
            {
                i = i + 1;

                <tr>
                    <th scope="row">@i</th>
                    <td scope="row">@item.MaDiaBan</td>
                    <td scope="row"><a href="/QLCSDaoTao/ThongtinCSDT?IDDiaBan=@item.IDDiaBan">@item.DiaBan</a></td>
                    <td scope="row">2</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>

</script>
